body {
  background: rgb(249,249,249);
  background: linear-gradient(180deg, rgba(249,249,249,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
  color: #333;

  // font-family: 'Quicksand', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'IBM Plex Sans', sans-serif;
}

.blog-title {
  display: block;
  margin-top: 0.7em;
  // letter-spacing: -0.02em;
  a {
    color: #000;
    text-decoration: none;
  }
}

.blog-header {
  border-bottom: none;
  margin-bottom: 1rem;
}
.blog-description {
  // font-style: italic;
  color: #333;
  // font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5 , h6, .blog-title a  {
  // font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
}

article.blog-post {

  margin-bottom: 1rem;

  h1.blog-post-title {
    font-size: 2.8rem;
    line-height: 1.1em;
    margin-bottom: 1rem;
    a {
      text-decoration: none;
    }
  }

  p.subtitle {
    font-size:1.25rem;
    font-style: italic;
    margin-top: -0.2rem;
    margin-bottom: 0.9rem;
    line-height: 1.3;
  }

  p, ul li, ol li, blockquote {
    // font-family: 'Libre Baskerville', serif;
    font-size: 1.1rem;
    // letter-spacing: -0.02em;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
  }

  p, blockquote, ul, ol {
    margin-bottom: 1.4rem;
  }

  li ul, li ol {
    margin-bottom: 0.7rem;
  }

  ul li, ol li {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }

  blockquote {
    margin-left: 12px;
    padding-left: 1.6rem;
    border-left: 12px solid #ced4da;
  }

  .extra-disclaimer {
    background: #eee;
    padding: 1.1em 1.2em;
    margin-bottom: 1.4rem;

    p {
      margin-bottom: 0;
    }
  }

  // twitter-widget {
  //   margin-bottom: 1.6rem !important;
  // }

  twitter-widget + script + p {
    // font-weight: bold;
    margin-top: 1.6rem;
  }

  h2 {
    // font-size: 2.4rem;
    margin-bottom: 0.5em;
  }

  h3 {
    // font-size: 1.9rem;
    margin-bottom: 0.5em;
  }

  h4 {
    // font-size: 1.6rem;
    margin-bottom: 0.5em;
  }

  p.blog-post-meta, p.blog-post-tags {
    // font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 0;
    font-size: 1.0rem;
    color: #333;

    time {
      display: inline-block;
      margin-right: 0.2em;
    }
  }

  .twitter-tweet-rendered {
    display:block;
    margin-left:auto;
    margin-right:auto;
  }

  .youtube-embed {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden;
    margin-bottom: 1.4rem;

    iframe {
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      border:0;
    }
  }

}

article.blog-preview {
  padding-left: 0;
  margin-bottom: 4rem;

  h2.blog-post-title {
    font-size: 1.8rem;
    line-height: 1.1em;
    
    a {
      text-decoration: none;
    }
  }

  p.blog-post-meta, p.blog-post-tags {
    // font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 0;
    color: #333;
    margin-bottom: 0.5rem;
  }
  
}




.blog-sidebar {
  // Overridden below on desktop sizes
  border-top: .05rem solid #e5e5e5;
  padding-top: 2rem;
}

.sidebar-module {
  padding: 1rem 0;
}

.sidebar-module:first-child {
  padding-top: 0;
}
.sidebar-module {
  h4 {
    font-size: 1.5rem;
    line-height: 1.1em;
  }
  ol li {
    margin-bottom: 0.4em;
  }
  p, ul, ol {
    font-size: 0.9rem;
  }
}

.prev-next-links {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

.blog-footer {
  text-align: left;
  font-size: 0.8rem;

  h4 {
    font-size: 1.05rem;
  }
}

// Media queries

// Larger sizes here
@media (min-width: 40em) {
  .blog-header {
    margin-bottom: 2rem;
  }
  
  .blog-sidebar {
    border-top: none;
    padding-top: 5px;
  }

  .prev-next-links {
    font-size: 1rem;
  }

  .prev-next-links-next {
    text-align: right;
  }

  
}

@media (min-width: 60em) {
  article.blog-preview {
    padding-left: 3rem;
  }
}


// Print styles
@media print {
  // Override col-md-8 for the main section:
  @media (min-width: 768px) {
    .col-md-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }
  }

  .blog-title {
      font-size: 2.2rem;
      margin-top: 0.2em;
      line-height: 1.1;
  }
  .blog-header {
      margin-bottom: 0.5rem;
  }
  @media (min-width: 40em) {
    .blog-title {
        font-size: 2.2rem;
    }
    .blog-header {
        margin-bottom: 0.5rem;
    }
  }
  .blog-description {
    font-weight: normal;
    font-size: 1rem;
  }
  
  blockquote {
    border-top: none;
    border-bottom: none;
    border-right: none;
  }

  .youtube-embed {
    display:none;
  }
  
}