{{ define "title" }}{{ .Title | markdownify }} | {{ .Site.Title }}{{ end }}

{{ define "schema-dot-org" }}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  {{- /* Google recommends the headline be no more than 110 characters */}}
  "headline": "{{ substr .Title 0 110 }}",
  {{- with .Params.images -}}{{ range first 1 . }}
  "image": {
    "@type": "ImageObject",
    "url": "{{ . | absURL }}"
    {{- /* Don't try to get imageConfig if image param is not local */ -}}
    {{- if not (or (hasPrefix . "http://") (hasPrefix . "https://")) -}}
    {{- with (imageConfig (printf "/static/%s" .)) -}}
    ,
    "height": "{{ .Height }}",
    "width": "{{ .Width }}"
    {{- end -}}
    {{ end }}
  },
  {{- end -}}{{ end }}
  "url": "{{ printf "%s" .Permalink }}",
  "wordCount": "{{ .WordCount }}",
  {{- $ISO8601 := "2006-01-02T15:04:05-07:00" }}
  {{- if not .PublishDate.IsZero }}
  "datePublished": {{ .PublishDate.Format $ISO8601 }},
  {{- else }}
  "datePublished": {{ .Date.Format $ISO8601 }},
  {{- end }}
  {{- if not .Lastmod.IsZero }}
  "dateModified": {{ .Lastmod.Format $ISO8601 }},
  {{- end }}
  {{- with .Site.Social.GooglePlus }}
  "publisher": "{{ printf "%s" . }}",
  {{- end }}
  "author": {
    "@type": "Person",
    "name": "{{ .Params.author | default .Site.Params.author }}"
  }
  {{- if or (.Params.keywords) (or (.Params.categories) (.Params.tags)) -}}
  ,
  "keywords": "{{ delimit (union .Params.keywords (union .Params.categories .Params.tags)) ", " }}"
  {{- end }}

  {{- with .Params.description -}}
  ,
  "description": "{{ . }}"
  {{- end }}
}
</script>

{{ end }}

{{ define "main" }}
{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post">
  <header>
    <h1 class="blog-post-title" dir="auto"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
    {{ if .Params.subtitle }}
      <p class="subtitle">{{ .Params.subtitle }}</p>
    {{ end }}
    <p class="blog-post-meta"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time> <a href="https://github.com/sboots/sboots.ca/tree/master/content/{{ .File.Path }}">Version history</a></p>
  </header>

  {{ if .Params.extradisclaimer }}
  <aside id="extra-disclaimer" class="extra-disclaimer">
    <p>
      <b>Extra-prominent disclaimer:</b> {{ .Params.extradisclaimer | markdownify }}
    </p>
  </aside>
  {{ end }}

  {{ .Content }}

  {{ if .IsTranslated }}
  <h4>{{ i18n "translations" }}</h4>
  <ul>
    {{ range .Translations }}
    <li>
      <a href="{{ .Permalink }}">{{ .Lang }}: {{ .Title }}{{ if .IsPage }}{{ end }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}

  
  {{ if or (.Params.categories) (.Params.tags) }} <p class="blog-post-tags">{{ partial "meta-terms.html" . }}</p>{{ end }}
  

  {{ if or (ne ($.Param "sharingicons") false) (.Site.DisqusShortname) }}
  <hr>
  <footer>

  {{ if (ne ($.Param "sharingicons") false) }}
  {{ partial "sharing-icons.html" . }}
  {{ end }}

  {{ if and (.Site.DisqusShortname) (ne .Params.comments false) }}
  {{ template "_internal/disqus.html" . }}
  {{ end }}
  </footer>
  {{ end }}

  {{ if or (.Prev) (.Next) }}
    <nav class="prev-next-links d-print-none">
      <div class="row">
    {{with .Prev}}
      <div class="col-sm prev-next-links-prev mb-2">
        <a href="{{.Permalink}}" class="d-block" rel="prev">Previous post:<br/>{{ .Title }}</a>
      </div>
    {{end}}

    {{with .Next}}
      <div class="col-sm prev-next-links-next mb-2">
        <a href="{{.Permalink}}" class="d-block" rel="next">Next post:<br/>{{ .Title }}</a>
      </div>
    {{end}}
      </div>
    </nav>
  {{ end }}

</article> <!-- /.blog-post -->

{{ end }}

{{- /* vim: set ts=2 sw=2 et: */}}
