<aside class="col-md-3 ml-auto blog-sidebar d-print-none">
  <!-- {{ if and (.Site.Params.sidebar) (isset .Site.Params.sidebar "about") }}
  <section class="sidebar-module sidebar-module-inset">
    <h4>{{ i18n "about" }}</h4>
    <p dir="auto">{{ .Site.Params.sidebar.about | markdownify }}</p>
  </section>
  {{ end }} -->

  {{ if .Site.Params.sidebar }}
      {{ partialCached "recent.html" .}}
  {{ end }}

  <section class="sidebar-module">
    <h4>Prominent disclaimer</h4>
    <p>The views expressed here are my own, and don’t represent the opinions of my team or my employer.</p>
  </section>

  <section class="sidebar-module">
    <h4>Sporadic mailing list</h4>
    <p>You can sign up for occasional blog email updates here: </p>
    <form
    action="https://buttondown.email/api/emails/embed-subscribe/sboots"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/sboots', 'popupwindow')"
    class="embeddable-buttondown-form">
      <!-- <label for="bd-email">Enter your email</label> -->
      <input type="email" name="email" id="bd-email" class="form-control form-control-sm mb-1" placeholder="Enter your email">
      <input type="hidden" value="1" name="embed"></input>
      <input type="submit" value="Subscribe" class="btn btn-primary btn-sm"></input>
      <!-- <p>
        <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
      </p> -->
      <p class="mt-2">
        <a href="https://buttondown.email/sboots/archive/">See past email updates</a>
      </p>
    </form>
  </section>

  <!-- Featured posts (using featured:true in front matter) -->
  <section class="sidebar-module">
    <h4><span title="And by “recommended” I mean “featured, slightly at random”">Recommended posts</span></h4>
    <ol class="list-unstyled list-randomize-order" id="recommended-posts-sidebar">
{{ $currentPage := . }}
{{ range (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}
  {{ if .Params.featured }}
    {{ if not (eq $currentPage.RelPermalink .RelPermalink) }}
    <li><a href="{{.RelPermalink}}">{{.Title | markdownify }}</a></li>
    {{ end }}
  {{ end }}
{{ end }}
    </ol>
  </section>


  <section class="sidebar-module">
    <h4>About</h4>
    <p>I’m a public servant working on technology in government. I’m currently based at Carleton University <a href="/2022/03/16/joining-carleton-university-as-a-public-servant-in-residence/">as a Public Servant-in-Residence</a>. You <a href="https://twitter.com/sboots">probably know me from Twitter</a>.</p>
  </section>
  <!-- {{ with .Site.Menus.sidebar }}
  <section class="sidebar-module">
    <h4>{{ i18n "links" }}</h4>
    <ol class="list-unstyled">
      {{ range . }}
      <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ol>
  </section>
  {{ end }} -->
</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}
