<aside id="related-posts" class="related-posts">
    <p>
      <b>{{ .Get "title" }}</b>
    </p>

    {{ $currentLink := .Page.RelPermalink }}
    {{ range first 1 .Page.Params.categories }}
        {{ $tagTitle := . }}
        <ul>
        {{ range (index $.Site.Taxonomies.categories ($tagTitle | urlize)).Pages }}
            {{ if eq $currentLink .Page.RelPermalink }}
                
            {{ else }}
                <li>
                    <a href="{{ .Page.RelPermalink }}">
                    {{ .Title }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
        </ul>
    {{ end }}
</aside>
