<aside id="related-posts" class="related-posts">
    <p>
      <b>{{ .Get "title" }}</b>
    </p>

    {{ $currentLink := .Page.RelPermalink }}
    {{ $replaceText := .Get "replace" }}
    {{ range first 1 .Page.Params.categories }}
        {{ $tagTitle := . }}
        <ul>
        {{ range (index $.Site.Taxonomies.categories (replace ($tagTitle | urlize) "-" " " )).Pages }}
            {{ if eq $currentLink .Page.RelPermalink }}
                
            {{ else }}
                <li>
                    {{ if $replaceText }}
                    <a href="{{ .Page.RelPermalink }}">
                        {{ replace .Title $replaceText "" }}
                    </a>
                    {{ else }}
                    <a href="{{ .Page.RelPermalink }}">
                        {{ .Title }}
                    </a>
                    {{ end }}
                </li>
            {{ end }}
        {{ end }}
        </ul>
    {{ end }}
</aside>
